<div class='users-container'>
  <mat-card>
    <div class='users-wrapper'>

      <mat-card-title>
        <span>Select users to <span class='user-action'> {{ action }} </span> : </span>
        <!-- <div *ngIf='errorMessage' class='error-message'> {{ errorMessage }} </div> -->
      </mat-card-title>

      <mat-card-subtitle>
        <span>Logged in as : <span class='disabled-text'>{{loginUser}}</span></span>
      </mat-card-subtitle>

      <mat-card-content class='users-list' *ngIf='isShare'>
        <span>Select Users: </span>
        <mat-select name="userlist" placeholder="Registered Users" [(ngModel)]="userlist" multiple>
          <mat-option *ngFor="let user of userIDRegistered" [value]="user">
            {{ user }}
          </mat-option>
        </mat-select>

        <mat-radio-group class="edit-type-radio-group" placeholder="Select Access Type" [(ngModel)]="selectededittype">
          <mat-radio-button color='primary' class="edit-type-radio-button" *ngFor="let type of edittypes" [value]="type">
            {{type}}
          </mat-radio-button>
        </mat-radio-group>
      </mat-card-content>

      <mat-card-content class='users-list' *ngIf='isGroup'>
        <span>Select Groups: </span>
        <!-- <mat-select name="grouplist" placeholder="Registered Groups" [(ngModel)]="selectedgroup">
            <mat-option *ngFor="let group of groupsRegistered" [value]="group">
              {{ group }}
            </mat-option>
          </mat-select> -->

        <mat-form-field>
          <input type="text" placeholder="Add to Group" matInput [(ngModel)]="selectedgroup" [matAutocomplete]="auto">
        </mat-form-field>

        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let group of groupsRegistered" [value]="group"> {{ group }} </mat-option>
        </mat-autocomplete>

      </mat-card-content>

      <mat-card-actions>
        <button mat-stroked-button color='primary' (click)="onSave()">Save</button>
        <button mat-stroked-button color='warn' (click)="onCancel()">Cancel</button>
      </mat-card-actions>

    </div>
  </mat-card>
</div>