<label class="keep-c-list-container" >Not-Started:</label>
<div class="keep-c-list-container" *ngIf='notStartedNotes.length'>
  <app-note [note]='note' *ngFor="let note of notStartedNotes"></app-note>
</div>

<label class="keep-c-list-container padding30">Started:</label>
<div class="keep-c-list-container" *ngIf='startedNotes.length'>
  <app-note [note]='note' *ngFor="let note of startedNotes"></app-note>
</div>

<label class="keep-c-list-container padding30" >Completed:</label>
<div class="keep-c-list-container" *ngIf='completedNotes.length'>
  <app-note [note]='note' *ngFor="let note of completedNotes"></app-note>
</div>