<mat-toolbar class='keep-header-toolbar' color="primary">

	<mat-toolbar-row>
		<span class="keep-header-content">Keep</span>

		<span class="example-spacer"></span>

		<mat-icon *ngIf="isNoteView" class="example-icon keep-header-content" aria-hidden="false" aria-label="Note View" (click)="switchToListView()"
		 matTooltip="Note View">menu</mat-icon>
		<mat-icon *ngIf="!isNoteView" class="example-icon keep-header-content" aria-hidden="false" aria-label="List View" (click)="switchToNoteView()"
		 matTooltip="List View">menu</mat-icon>

		<mat-icon class="example-icon keep-header-content" aria-hidden="false" aria-label="Example delete icon" (click)="switchToLogout()" matTooltip="Logout">logout</mat-icon>

	</mat-toolbar-row>


</mat-toolbar>