.keep-c-toggle-view {
	width: 100%;
	margin-left: 90%;
	cursor: pointer;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

/* .keep-header-toolbar {
	height: 70px;
}

.keep-header-content {
	margin-top: 1em;
} */