<!-- Label to display any error messages -->
<!-- <label class='error-message'>{{ errMessage }}</label> -->

<!-- Expansion panel to add new notes -->
<div class='keep-note-taker-panel'>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>{{title}}</mat-panel-title>
    </mat-expansion-panel-header>

    <div class='keep-note-taker-wrapper'>
      <mat-form-field>
        <input matInput name='title' [(ngModel)]='note.title' placeholder='Enter Note Title'>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput name='text' [(ngModel)]='note.text' placeholder='Enter Note Text'></textarea>
      </mat-form-field>
      <label class='disabled-text'>User ID: {{note.userId}}</label>
      
      <div class='keep-note--button'>
        <button mat-raised-button (click)='addNotes()' color='primary'>Done</button>
      </div>
      <!-- TODO : Add new fields -->
    </div>
  </mat-expansion-panel>
</div>