<p-card class="keep-login">

  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-12 ui-lg-12">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon ui-float-label"><i class="fa fa-user"></i></span>
        <input type="text" pInputText formControlName="username" placeholder="Username">
      </div>
    </div>

    <div class="ui-g-12 ui-md-12 ui-lg-12">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-lock"></i></span>
        <input type="password" pPassword formControlName="password" placeholder="Password">
      </div>
    </div>

    <p-footer class="ui-g-12 ui-md-12 ui-lg-12">
      <button pButton type="button" label="Login" class="ui-button-rounded ui-button-success"></button>
      <button pButton type="button" label="Register" class="ui-button-rounded ui-button-info"></button>
    </p-footer>

  </div>

</p-card>