.keep-card-note {
    width: 150px;
    /* height: 20vh; */
    margin: 5px;
    /* margin-bottom: 3em; */
    background-color: bisque 
}

.keep-note-checkbox {
    display: flex;
    float: left;
    margin-left: 8px;
}

.note-head {
    color: grey;
}