.keep-card-note {
    width: 50vw;
    height: 20vh;
    margin: auto;
    margin-bottom: 3em;
}

.keep-note-actions {
    display: flex;
    float: right;
    margin-left: 5px;
}

.keep-note-checkbox {
    display: flex;
    float: left;
    margin-left: 8px;
}