<mat-card class="keep-card-note">

  <mat-card-title class="keep-card-note-title">
    {{note.title}}

    <mat-icon *ngIf='note.isFavourite' class='keep-note-actions' color="warn" aria-label="Favourite" matTooltip="Favourite">favorite</mat-icon>
    <!-- <mat-icon *ngIf='!note.isFavourite' class='keep-note-actions' aria-label="Favourite" matTooltip="Favourite">favorite</mat-icon> -->

  </mat-card-title>
  <mat-card-content class="keep-card-note-content">
    <span class='note-head'>Description:</span> {{note.text}}
    <mat-divider></mat-divider>
    <!-- <span class='note-head'>State:</span> {{note.state}} -->
  </mat-card-content>

  <mat-card-actions>
    <!-- <mat-checkbox class='keep-note-checkbox' color="primary" (click)='toggleSelection();showActions()'></mat-checkbox> -->

    <mat-icon class='keep-note-actions' color="primary" aria-label="Group note" matTooltip="Group note" (click)='groupNote()'>group_add</mat-icon>
    <mat-icon class='keep-note-actions' color="primary" aria-label="Share note" matTooltip="Share note" (click)='shareNote()'>share</mat-icon>
    <mat-icon class='keep-note-actions' color="primary" aria-label="Delete reminder" matTooltip="Delete reminder" (click)='deleteNote()'>delete</mat-icon>
    <mat-icon class='keep-note-actions' color="primary" aria-label="Add a reminder" matTooltip="Add a reminder" (click)='openNoteReminder()'>add_alarm</mat-icon>
    <mat-icon class='keep-note-actions' color="primary" aria-label="View Note" matTooltip="View Note" (click)='openNoteEditView()'>open_in_new</mat-icon>
    
  </mat-card-actions>

</mat-card>