<mat-card class="keep-card-note">

  <mat-card-title class="keep-card-note-title">
    {{note.title}}
  </mat-card-title>
  <mat-card-content class="keep-card-note-content">
    {{note.text}}
  </mat-card-content>

  <mat-card-actions>
    <mat-checkbox class='keep-note-checkbox' color="primary" (click)='toggleSelection()'></mat-checkbox>

    <button mat-stroked-button class='keep-note-actions' matTooltip="View Note" 
      (click)='openNoteEditView()'>Open</button>

    <mat-icon *ngIf='note.isFavourite' class='keep-note-actions' color="warn" 
      aria-label="Favourite" matTooltip="Favourite">favorite</mat-icon>
    <mat-icon *ngIf='!note.isFavourite' class='keep-note-actions' 
      aria-label="Favourite" matTooltip="Favourite">favorite</mat-icon>

  </mat-card-actions>
  
</mat-card>